body {
  min-height: 100vh !important;
  font-family: "Titillium Web", sans-serif;
  background-color: rgb(248, 248, 248);
}

.userInfo {
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 1px 1px 2px 1px, rgba(60, 64, 67, 0.15) 2px 2px 3px 2px;
}

footer a, footer a:any-link {
  color: white;
}

footer a:first-child:hover {
  color: #000080;
}

footer a:last-child:hover {
  color: #800060;
}

.Icons{
  margin-right: 10px;
  font-size: 1,75vw;
}